@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media (prefers-reduced-motion: reduce) {
  .animate-[infinite-scroll_80s_linear_infinite] {
    animation: none;
  }
}


/* @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
   */